@import url("https://fonts.googleapis.com/css2?family=Baloo+2:wght@700&family=Comforter&family=Kaushan+Script&family=Quintessential&family=Rowdies:wght@400;700&family=Yellowtail&display=swap");


.block{
	width: 1000px;
	margin: 20px auto;
}

.block h1 {
   font-family: "Comforter", cursive;  
}

ul{
	display: flex;
	list-style: none;
	font-size: 18px;
	justify-content: center;
	padding: 0;
}
li a{
	text-decoration: none;
	color: black;
	margin: 5px;
}